.searchBar {
    width: 500px;
    height: 25px;
    font-size: 20px;
}
.buttons {
    margin: 15px;
    width: 150px;
}
.rightAlign {
    position: relative;
    float: right;
}
.topButtons{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.topButtons:hover{
    text-decoration: underline; 
}
#images{
    position: relative;
    right: -100px;
    font-family: Trebuchet MS;
    color: DodgerBlue;
    font-size: 30px;
}
#adv{
    color: red;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}
.advTxt{
    font-family: Arial;
}
label {
    width: 200px;
    display: inline-block;
}
.container {
    font-family:Arial;
    display: inline;
}
.container input {
    width: 400px;
}
#advButton {
    background-color: DodgerBlue;
    color: white;
    height : 30px;
    position: relative;
    right: -490px;
}
