.searchBar {
    width: 500px;
}
.buttons {
    margin: 15px;
    width: 150px;
}
.rightAlign {
    float: right;
}
.topButtons{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.topButtons:hover{
    text-decoration: underline; 
}
