.logo {
    width : 300px;
    height: 125px;
    }
.searchBar {
    width: 500px;
}
.buttons {
    margin: 15px;
    width: 150px;
}
.rightAlign {
    float: right;
}
.topButtons{
    border: none;
    background: none;
}
.topButtons:hover{
    text-decoration: underline; 
}
